{% extends 'shop/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h4>{{user.username}} {{message}}</h4>

        {% for date, item_list in cart_list %}
            <div class="cart-log m-2 p-4">  
                <p>{{date}}</p>   
                {% for item in item_list %}
                <div class="row">  
                    <div class="cart_item p-2">
                        <div class="col-10">
                            <a href="{%url 'shop:product_detail' item.product.pk  %}"><p>{{item.product.name}}</p></a>
                            <p>{{item.product.description|truncatechars:50}}</p>
                        </div>
                        <div class="col-2">
                            <p class="">{{item.price}} 円</p>
                            <p class="d-flex align-items-end">{{item.quantity}} 個</p>
                        </div>   
                    </div>
                </div>
                {% endfor %}

            </div>   
        {% endfor %}

        <!--
        <div class="pager">
            
            {% if targeted_carts_lists.has_previous %}
                <a href="?p={{ targeted_carts_lists.previous_page_number }}">前へ</a>
            {% endif %}
        
            
            <span>
                {{ targeted_carts_lists.number }} / {{ targeted_carts_lists.paginator.num_pages }}
            </span>
        
            <
            {% if targeted_carts_lists.has_next %}
                <a href="?p={{ targeted_carts_lists.next_page_number }}">次へ</a>
            {% endif %}
        </div>-->
            
        <nav>
            <ul class="pagination">

                {% if targeted_carts_lists.has_previous %}
                    <li class="page-link"><a href="?p={{ targeted_carts_lists.previous_page_number }}">前へ</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?p={{ targeted_carts_lists.previous_page_number }}">{{ targeted_carts_lists.previous_page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ targeted_carts_lists.number }}</a>
                </li>
                
                {% if targeted_carts_lists.has_next %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?p={{ targeted_carts_lists.next_page_number }}">{{ targeted_carts_lists.next_page_number }}</a>
                    </li>
                    <li class="page-link"><a href="?p={{ targeted_carts_lists.next_page_number }}">次へ</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">次へ</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
        
{% endblock content %}


{% block javascript %}

{% endblock javascript %}
    